@import "navigation.css";

.nav-mobile {
  @apply bg-gunmetal text-french-gray font-mono h-screen w-full p-8 flex flex-col fixed inset-0 z-50;
  @apply transition-opacity duration-300 ease-in-out;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;

  &__header {
    @apply flex justify-between items-baseline mb-12;
  }

  &__title {
    @apply text-4xl;
  }

  &__close {
    @apply text-french-gray p-2 rounded-full transition-colors duration-200;
    @apply hover:bg-french-gray/10 hover:text-lawn-green;

    svg {
      @apply w-8 h-8;
    }
  }

  &__content {
    @apply flex-1 overflow-y-auto font-mono;
    letter-spacing: -0.5px;

    /* Custom scrollbar */
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      @apply bg-gunmetal;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-french-gray/20 rounded;
    }
  }

  &__footer {
    @apply mt-auto flex flex-col items-center pt-8;
  }

  &__language {
    @apply mb-8 flex items-center space-x-3 cursor-pointer;
  }

  &__language-text {
    @apply text-white text-xl;
  }

  &__language-icon {
    @apply text-french-gray w-6 h-6;
  }

  &__socials {
    @apply flex space-x-8;
  }

  &__social-icon {
    @apply text-french-gray transition-colors duration-200;
    @apply hover:text-lawn-green;

    svg {
      @apply w-8 h-8;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

